* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* NARVAR */
.header {
  background-image: url(img/tarot.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 7%;
}

.head h1 {
  color: #fff;
}

.head li {
  list-style-type: none;
}

.head a {
  text-decoration: none;
  color: #fff;
}

/* ABOUT ME */
.about-me {
  background-color: #FFE5B4;
}

.about-me h2 {
text-align: center;
padding: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10rem 3rem;
}

.content p {
  width: 40vw;
  word-break: break-word;
}

.pic-me {
  border-radius: 50%;
  width: 20rem;
}
