* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* NARVAR */
.header {
  background-image: url(img/tarot.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 45vh;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 7%;
}

.head h1 {
  color: #fff;
}

.head li {
  list-style-type: none;
}

.head a {
  text-decoration: none;
  color: #fff;
}

/* ABOUT ME */
.about-me {
  background-color: #cfbbae;
}

.about-me h2 {
text-align: center;
padding: 1.5rem;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 7rem 2rem;
}

.about p {
  width: 40vw;
  word-break: break-word;
}

.pic-me {
  border-radius: 50%;
  width: 25vw;
}

/* SERVICE */
.service h2 {
  text-align: center;
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  margin: 10px;
  width: 270px;
  height: 400px auto;
  border-radius: 15px;
}

.card h2 {
  padding: 10px;
}

.card p {
  padding: 10px;
  text-align: center;
}

.card h3 {
  padding: 15px 20px;
  display: block;
  text-align: center;
}

.card:hover {
  background-color: #726659;
  color: #fff;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.card-image {
  background-color: aqua;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

/* CONTACT ME */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}

h3 {
  position: relative;
  padding-top: 5rem;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline:none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}
